<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Connect iworkflows</title>

    <!--/*/ <th:block th:include="fragments/header.html :: header">
        </th:block> /*/-->

    <style>
        table {
            width: fit-content;
        }

        td {
            width: 5px;
            white-space: nowrap;
            text-align: left;
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
    </style>


</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <div th:replace="/fragments/navigation :: navbar"></div>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h1 class="page-header">Connect with external services</h1>
            </div>
            <div class="panel-body">
                <table>

                    <tbody class="body">
                    <tr class="odd gradeX" th:each="client : ${clients}">
                        <td class="center" th:text="${client.name}" th:id="${client.name}">Provider</td>
                        <td>
                            <form action="#" th:action="${client.redirectUri}">
                                <input type="submit" class="btn btn-success btn-sm" value="Authorize"/>
                            </form>
                        </td>
                        <td>
                            <form action="#" th:action="${client.revokeUri}">
                                <input type="submit" class="btn btn-danger btn-sm" value="Revoke"
                                       th:classappend="${client.authorized} ? disabled : ''"/>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
</div>
<!--Post Scripts-->
<th:block th:replace="/fragments/scripts :: footer-scripts"/>

<!--Push notifications-->
<th:block th:replace="/fragments/notify :: notify-scripts"></th:block>

</body>

</html>
