<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorize iworkflows</title>
</head>
<body>
<div>
    Logged in user: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
    <div>
        <br>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
        <br>
    </div>
</div>
<div>
    <div>
        <h3>Authorize iworkflows to access</h3>
        <div>
            <p th:each="url : ${urls}">
                <a th:text="${url.key}" th:href="${url.value}">Client</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>