<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!--/*/ <th:block th:include="fragments/header.html :: header">
        </th:block> /*/-->


</head>

<body>

<div id="wrapper">

    <div th:replace="/fragments/navigation :: navbar"></div>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Connect with external services</h1>
                    <div>
                        <p th:each="url : ${urls}">
                            <a th:text="${url.key}" th:href="${url.value}">Client</a>
                        </p>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<th:block th:replace="/fragments/scripts :: footer-scripts"/>

</body>

</html>
