<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div>
    Logged in user: <b th:inline="text" class="user"> [[${#httpServletRequest.remoteUser}]] </b>
    <div>
        <br>
        <form th:action="@{/logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
        <br>
    </div>
</div>
<a href="/authorize">Authorize</a>
<br>
<a href="/nextcloud-user">Nextcloud user information</a>

</body>
</html>