<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Moodle Login</title>

    <!--/*/ <th:block th:include="fragments/header.html :: header">
        </th:block> /*/-->

</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In to Moodle</h3>
                </div>
                <div class="panel-body">

                    <form name="form" th:action="@{/moodle/token}" method="post">
                        <fieldset>
                            <div th:if="${error}" class="alert alert-danger">
                                Invalid username or password.
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="username" name="username"
                                       placeholder="username"/>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" id="password" name="password"
                                       placeholder="password"/>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-lg btn-success btn-block">Log in</button>
                            </div>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Post Scripts-->
<th:block th:replace="/fragments/scripts :: footer-scripts"/>

</body>

</html>
